<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.quiz.hritik.techconnect">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/login"
        android:resizeableActivity="false"
        android:label="@string/app_name"

        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:label="Student Score"
            android:name="com.quiz.hritik.techconnect.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.quiz.hritik.techconnect.Main2Activity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.quiz.hritik.techconnect.BrodCastReciiever.AlarmReciever" />

        <activity android:name="com.quiz.hritik.techconnect.Start" />
        <activity
            android:name="com.quiz.hritik.techconnect.PLaying"
            android:theme="@style/AppTheme.Playing" />
        <activity android:name="com.quiz.hritik.techconnect.Done" />
        <activity android:name="com.quiz.hritik.techconnect.ScoreDetail"></activity>

        <service android:name="com.quiz.hritik.techconnect.BrodCastReciiever.MyFirebaseIdService">

            <intent-filter>

                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />


            </intent-filter>
        </service>

        <service android:name="com.quiz.hritik.techconnect.BrodCastReciiever.MyFirebaseMessagingService">

            <intent-filter>

                <action android:name="com.google.firebase.MESSAGING_EVENT" />


            </intent-filter>


        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>